body {
    background: linear-gradient(to right, #111, rgb(0, 0, 92));
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

.cabecalho {
    background-color: rgb(18, 10, 34);
    border-radius: 10px;
    height: 50px;
}

.searchbar {
    float: right;
    margin: 10px;
}

#barraPesquisa {
    outline: none;
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

h3{
    color: rgb(213, 15, 15);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0%;
    padding: 10px;
}

.catalogo {
    color: #fff;
    margin: 20px 1% 0;
    text-align: center;
}

.sinopse {
    margin-top: 30%;
    display: flex;

}

#maisInf button{
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#assistir button {
    padding: 10px;
    margin-left: 20%;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imagemFilme1 {
    display:flex;
    padding: 5px;
    width: 2000px;
}

.imagemFilme1 img{
    max-width: 15%;
    cursor: pointer;
    height: auto;
    display: block;
    margin-left: 156px;
}
.botoes{
    text-decoration: none;
}

#botao1{
    margin-left: 250px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;
}
#botao2{
    margin-left: 390px;
    margin-top: 20px;
    text-decoration: none;
    text-decoration: none;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;
}
#botao3{
    margin-left: 375px;
    margin-top: 20px;
    text-decoration: none;
    text-decoration: none;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;
}
